<div class="login-container">

  <!-- LEFT SIDE -->
  <div class="left">
    <h2>Login</h2>
    <p>Get access to your Orders,<br>Wishlist and Recommendations</p>

    <img src="https://img.freepik.com/free-vector/login-concept-illustration_114360-757.jpg" />
  </div>

  <!-- RIGHT SIDE -->
  
<div class="right">

  <h2>{{ isLogin ? 'Login' : 'Create Account' }}</h2>

  <!-- REGISTER ONLY -->
  <input *ngIf="!isLogin" [(ngModel)]="name" placeholder="Full Name" />

  <input [(ngModel)]="email" placeholder="Email Address" />

 <!-- PASSWORD -->
<div class="input-box">

  <input 
    [(ngModel)]="password" 
    [type]="showPassword ? 'text' : 'password'" 
    placeholder="Password" 
  />

  <i 
    class="fa-solid"
    [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
    (click)="showPassword = !showPassword"
  ></i>

</div>
  <!-- EXTRA FIELD (IMPORTANT 🔥) -->
<div class="input-box" *ngIf="!isLogin">

  <input 
    [(ngModel)]="confirmPassword" 
    [type]="showConfirmPassword ? 'text' : 'password'" 
    placeholder="Confirm Password" 
  />

  <i 
    class="fa-solid"
    [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
    (click)="showConfirmPassword = !showConfirmPassword"
  ></i>

</div>

  <button (click)="submit()">
    {{ isLogin ? 'Login' : 'Sign Up' }}
  </button>

  <p class="switch">
    {{ isLogin ? 'New user?' : 'Already have an account?' }}
    <span (click)="toggleMode()">
      {{ isLogin ? 'Create account' : 'Login' }}
    </span>
  </p>

</div>
</div>