

<div class="navbar">
<!-- Row 1 -->
  <div class="logo" routerLink="/">
  <img src="https://static.vecteezy.com/system/resources/thumbnails/054/650/802/small_2x/flipkart-logo-rounded-flipkart-logo-free-download-flipkart-logo-free-png.png" alt="Flipkart Logo" />
  <div class="logo-text">
    Kundan SK
    <span class="plus">Explore <b>Plus</b> ✨</span>
  </div>
</div>
  <!-- SEARCH -->
 
  <div class="search-container">
  <input type="text" placeholder="Search for Products, brands and more Samastipur" [(ngModel)]="searchText"(input)="onSearch()" />
  <button>Search</button>
</div>

  <!-- RIGHT MENU -->
 <div class="nav-right">

  <!-- LOGIN -->
  <button *ngIf="!userName" class="login-btn" (click)="goToLogin()">
    Login
  </button>

  <!-- AVATAR + NAME -->
  <div *ngIf="userName" class="account-section" (click)="toggleDropdown()">

    <div class="avatar">
      {{ userName.charAt(0).toUpperCase() }}
    </div>

    <span class="username">Hello, {{ userName }}</span>

    <i class="fas fa-chevron-down"></i>

    <!-- DROPDOWN -->
  <div class="dropdown" *ngIf="isDropdownOpen">

  <!-- 🔥 HEADER ADD HERE -->
  <div class="dropdown-header">
    <div class="avatar">
      {{ userName.charAt(0).toUpperCase() }}
    </div>
    <div>
      <h4>{{ userName }}</h4>
      <p>{{ userEmail }}</p>
    </div>
  </div>

  <!-- MENU ITEMS -->
  <div class="dropdown-item" routerLink="/profile">
    <i class="fas fa-user"></i> My Profile
  </div>

  <div class="dropdown-item" routerLink="/orders">
    <i class="fas fa-box"></i> Orders
  </div>
  <div class="dropdown-item">
  <i class="fas fa-heart"></i> Wishlist
</div>

<div class="dropdown-item" routerLink="/address">
  
  <i class="fas fa-map-marker-alt"></i> Addresses
</div>

<div class="dropdown-item">
  <i class="fas fa-credit-card"></i> Payments
</div>

<hr>

  <div class="dropdown-item logout" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i> Logout
  </div>

</div>
  </div>

  <!-- ALWAYS VISIBLE ITEMS -->
  <div class="nav-item" routerLink="/orders">My Orders</div>

  <div class="cart" (click)="goToCart()">
    <i class="fas fa-cart-plus"></i>
    <span>Cart</span>
    <span class="cart-count">{{ getCartCount() }}</span>
  </div>

  <button *ngIf="userName" class="logout-btn" (click)="logout()">
    Logout
  </button>

</div>

</div>

<router-outlet></router-outlet>